<table>
    <thead>
        <tr>
            <th>BooliId</th>
            <th>Adress</th>
            <th>kvm</th>
            <th>Rum</th>
            <th>Pris</th>
            <th>Restid</th>
        </tr>
    </thead>
    <tbody>
        <!--<tr *ngFor='#product of products'>
            <td>
                <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
            </td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode | lowercase }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD':true }}</td>
            <td>{{ product.starRating }}</td>
        </tr>-->
    </tbody>
</table>