<table class="table">
    <thead>
        <tr border>
            <th>BooliId</th>
            <th>Adress</th>
            <th>kvm</th>
            <th>Rum</th>
            <th>Pris</th>
            <th>Restid</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let listing of listings'>
            <td>{{ listing.booliId }}</td>
            <td>{{ listing.location.address.streetAddress }}</td>
            <td>{{ listing.livingArea }}</td>
            <td> </td>
            <td>{{ listing.listPrice | currency:'SEK' }}</td>
            <td> </td>
        </tr>
    </tbody>
</table>